body{
    background-color:rgb(212, 212, 226);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 2, 167);
    font-weight: bolder;
}
.fondo1{
    background-color: white;
    height: 300px;
    background-image: url(../img/billetes.jpg);
    background-repeat: no-repeat;
}
.fondo2{
    background-color:rgba(255, 255, 0, 0.822);
}
h1{
    font-size: 65px;
    text-align: right;
    text-decoration: underline double blue;
}
h2{
    font-size: 40px;
    text-align: left;
    text-decoration: underline double blue;
}
h3{
    font-size: 40px;
    text-align: left;
    text-decoration: underline double blue;
}
h4{
    font-size: 35px;
    text-align: right;
    text-decoration: underline double blue;
}
ul{
    text-align: right;
}
p{
    font-size: 22px;
    padding: 0em .5em;
}
#img1{
    width: 35%;
    height: 300px;
    float: left;
    margin: .2em .7em;
}
#img2{
    width: 30%;
    height: 300px;
    float: left;
    margin: .2em .7em;
}
#intro{
    background-color: white;
    color:rgb(2, 2, 167);
    border: 25px solid yellow;
    width: 70%;
    height: 400 px;
    margin: 2em auto;
    padding: 1em;
}
a:hover{
    background-color: white;
    color: green;
}